<h3> Welcome to the index page!</h3>
<a href="/blogs/new"> Create new blog </a>
<% blogs.forEach(function(blog){ %>
    <hr>
    <div><h1> <%= blog.title %> </h1> </div>
    <div><img src="<%=blog.image%>" height="300px" width="300px"> </div>
    <div> <p><%=blog.body.substring(0,100)%></p> </div>
    <a href="/blogs/<%=blog._id%>"> Read more... </a>
<% }) %>
