<form action="/blogs" method="post">
    Title: <input type="text" name="blog[title]" placeholder="Title">
    Image URL: <input type="text" name="blog[image]" placeholder="Image">
    Description: <textarea name="blog[body]"> </textarea>
    <button type="submit"> Submit </button>
</form>